@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes spin {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}

.anima-spin {
  animation: spin 1s linear infinite;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
html{
  font-family: "Poppins", sans-serif;
}


::-webkit-scrollbar {
  width: 4px; /* Anchura de la barra de desplazamiento */
}

/* Personalizar el riel de la barra de desplazamiento (el track) */
::-webkit-scrollbar-track {
  background: #FCFCFF; /* Color de fondo */
}

/* Personalizar el manejo de la barra de desplazamiento (el thumb) */
::-webkit-scrollbar-thumb {
  background: #489BFF; /* Color del thumb */
  border-radius: 20px;
}

/* Cambiar el color del thumb al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background: #00A3FF; /* Color del thumb al hacer hover */
}
